<p>imc works!</p>
<div class="content" role="main">
    <p>imc works!</p>
    <H1>{{titulo2}}</H1>
    <input type="number" placeholder="Inserte su Peso en (Kg)" [(ngModel)]="peso" />
    <br>
    <input type="number" placeholder="Inserte su Altura en (m)" [(ngModel)]="altura" />
    <br>
    <input type="button" value="Calcular IMC" (click)="calcularImc()" />
    <br>
    <div *ngIf="oimc!=null"><!--si oimc es !0 null, te metes con esta sección-->
        <div *ngIf="oimc!.numerico>0">SU IMC: {{oimc!.numerico}}</div>
        <br>
        <div *ngIf="oimc!.estado!=''">Su estado es : {{oimc!.estado}}</div>
        <br>
        <!-- <div *ngIf="rutaimagen!=''"><img src="{{rutaimagen}}" alt=""></div> -->
        <br>
        <!--porperty binding -->
        <div *ngIf="oimc!.rutaimagen!=''"><img [src]="oimc!.rutaimagen" alt=""></div>
    </div>

</div>