<button class="btn btn-primary" routerLink="/alumnos/form">CREAR</button>
<div class="listaAlumnos">
  
  <div *ngFor="let alumno of lista_alumnos" class="card" style="width: 18rem;">
    <!--si el alumno tiene foto, su fotohascode no es null">-->
    <img *ngIf="!alumno.fotoHashCode" class="card-img-top" alt="Foto Alumno" src="https://randomuser.me/api/portraits/women/{{alumno.id}}.jpg">
    <img *ngIf="alumno.fotoHashCode" class="card-img-top" alt="Foto Alumno" src="http://localhost:8085/obtenerfoto/{{alumno.id}}">
    
    
    <div class="card-body">
      <h5 class="card-title">{{alumno.id}} {{alumno.nombre}} {{alumno.apellido}}</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Email: {{alumno.email}}</li>
        <li class="list-group-item">Edad: {{alumno.edad}}</li>
      </ul>
      <div class="card-footer text-muted">
        <p>{{alumno.creadoEn|date:'short'}}</p>
      </div>
      <button class="btn btn-danger" (click)="borrarAlumno(alumno.id)"> <fa-icon [icon]="iconoborrar"></fa-icon></button>
      <button class="btn btn-success" (click)="editarAlumno(alumno)"> <fa-icon [icon]="iconoeditar"></fa-icon></button>
      
      
    </div>
  </div>
  <mat-paginator [length]="totalRegistros"
              [pageSize]="totalPorPagina"
              [pageSizeOptions]="opcionesPagina"
              [pageIndex]="paginaActual"
              showFirstLastButtons
              (page)="paginar($event)">
</mat-paginator>
</div>

