<!-- FORMULARIO PLANTILLA TEMPLATE FORMS -->
<form #formulario_alumno="ngForm" (ngSubmit)="crearAlumno()">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" #nombre="ngModel" [(ngModel)]="alumno.nombre" class="form-control" id="nombre" name="nombre" placeholder="Intro nombre" required pattern=".{4,15}">
      <!-- definimos una sección de error, que muestre el mensaje si el campo no se valida -->
      <div class="alert alert-danger" [hidden]="nombre.pristine||nombre.valid">
            Nombre entre 4 y 15 letras
      </div>
    </div>
    <div class="form-group">
        <label for="apellido">Apellido</label>
        <input type="text" #apellido="ngModel" [(ngModel)]="alumno.apellido" class="form-control" id="apellido" name="apellido" placeholder="Intro su apellido" required>
        <!-- definimos una sección de error, que muestre el mensaje si el campo no se valida -->
        <div class="alert alert-danger" [hidden]="apellido.pristine||apellido.valid">
              Apellido obligatorio
        </div>
    </div>
    <div class="form-group">
        <label for="correo">Email</label>
        <input type="text" #correo="ngModel" [(ngModel)]="alumno.email" class="form-control" id="correo" name="correo" placeholder="Intro su correo" required email>
        <!-- definimos una sección de error, que muestre el mensaje si el campo no se valida -->
        <div class="alert alert-danger" [hidden]="correo.pristine||correo.valid">
              Introduzca un email correcto
        </div>
    </div>
    <div class="form-group">
        <label for="edad">Edad</label>
        <input type="text" #edad="ngModel" [(ngModel)]="alumno.edad" class="form-control" id="edad" name="edad" placeholder="Intro su edad" required min="1" max="130">
        <!-- definimos una sección de error, que muestre el mensaje si el campo no se valida -->
        <div class="alert alert-danger" [hidden]="edad.pristine||edad.valid">
              Intro edad entre 1 y 130
        </div>
    </div>
    <div class="form-group">
        <label for="foto">Foto</label>
        <input type="file" (change)="seleccionarFoto($event)" class="form-control" id="foto" name="foto" >
       
    </div>
    <br>

    <button type="submit" [disabled]="!formulario_alumno.valid" class="btn btn-primary">ENVIAR</button>
  </form>
