<p>ociomadrid works!</p>
<select title="listadistritos" (change)="distritoSeleccionado($event)" name="cars" id="cars">
    <option *ngFor="let distrito of distritos" 
    
    value="{{distrito}}">{{distrito}}</option>
</select>
<br>
<div>
    <br>
    <p>Hay {{ numero_eventos }} eventos en el distrito </p>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Num</th>
        <th scope="col">Titulo</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let auxevento of array_eventos">
            <td> {{ auxevento.id }} </td>
            <td> {{ auxevento.titulo }} </td>
            <td> <button class="btn btn-success" (click)="verEnElMapa(auxevento.id)">VER EN EL MAPA</button> </td>
            <td> <button class="btn btn-primary" (click)="verElDetalle(auxevento)">VER DETALLE</button> </td>
        </tr>
      </tbody>
    </table>
</div>
