<p>marcador works!</p>
<table class="table text-center mt-3">
    <thead class="thead-dark">
      <tr>
        <!-- if ternario: si el jugador tiene nombre, que aparezca
        si no, que aparezca "JUGADOR" -->
        <th scope="col"> {{ (nombrejugadormarcador!='') ? nombrejugadormarcador : 'JUGADOR' }}</th>
        <th scope="col">MAQUINA</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{marcador_usuario}}</td>
        <td>{{marcador_maquina}}</td>
      </tr>
      
    </tbody>
  </table>